<!DOCTYPE html>
<!--
Atia & Tiger Technology 2019.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <th:block th:replace="fragments/head-block"></th:block>
    </head>
    <body>
        <div class="container-fluid">
            <th:block th:replace="fragments/navbar-block"></th:block>
            <th:block th:replace="fragments/error-block"></th:block>

            <main class="mt-3">
                <hr class="hr-2 w-50"/>
                <div class = "container-fluid my-heading-container rounded mx-auto w-50">
                    <h1>Edit Item's gallery</h1>
                </div>
                <hr class="w-50"/>
                    <div class = "container-fluid text-center rounded mx-auto w-50">
                        <h5>First added picture will be Item thumbnail</h5>
                    </div>
                <hr class="hr-2 w-50"/>
                <th:block th:replace="fragments/ajax-notifications-block"></th:block>
                <div class="container">

                    <form class="mx-auto w-50" th:action="@{|/seller/items/gallery/edit/${itemId}|}" th:object="${createItemPictureBindingModel}" enctype="multipart/form-data" method="post">
                        <div class="control-group">
                            <p class="control-label h3 mb-2" >Add picture</p>
                            <div class="custom-file">
                                <input type="file" th:field="*{file}" name="file" class="custom-file-input" id="inputFile"/>
                                <label class="custom-file-label" for="inputFile">Choose file</label>
                                <p class="text-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"/>
                            </div>
                            <label class="control-label h3 mb-2" for="pictureDescription">Picture description</label>
                            <div class="controls">
                                <textarea  th:field="*{description}" name="pictureDescription" placeholder="Picture Description..." class="form-control" style="resize: none;" cols="15" rows="5"/>
                                <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
                            </div>
                        </div>
                        <br/>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-lg btn-primary btn-block">Add Picture</button>
                            </div>
                        </div>
                    </form>
                    <hr/>
                    <th:block th:each="itemPicture, rowStat : ${itemGalleryViewModel.itemPictures}">
                        <div class="row">
                            <div class="col-md-7">
                                <a th:href="@{${itemPicture.getPicturePath()}}">
                                    <img class="img-fluid rounded mb-3 mb-md-0" th:src="@{${itemPicture.getPicturePath()}}" alt=""/>
                                </a>
                            </div>
                            <div class="col-md-5">
                                <form class="mx-auto w-100 prevent-default-form" th:action="@{|/seller/items/gallery/edit/${itemId}/${itemGalleryViewModel.itemPictures[__${rowStat.index}__].id}|}" th:method="update" th:id="'formput'+${itemGalleryViewModel.itemPictures[__${rowStat.index}__].id}">
                                    <label class="control-label h3 mb-2" for="pictureDescription">Picture description</label>
                                    <textarea th:field="${itemGalleryViewModel.itemPictures[__${rowStat.index}__].description}" name="pictureDescription" placeholder="Picture Description..." class="form-control" style="resize: none;" cols="15" rows="3"/>
                                    <br/>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button th:id="'btnput:'+${itemGalleryViewModel.itemPictures[__${rowStat.index}__].id}" class="btn btn-lg btn-warning btn-block">Edit description</button>
                                        </div>
                                    </div>
                                </form>
                                <br/>
                                <form class="mx-auto w-100 prevent-default-form" th:action="@{|/seller/items/gallery/edit/${itemId}/${itemGalleryViewModel.itemPictures[__${rowStat.index}__].id}|}" th:method="delete" th:id="'formdel'+${itemGalleryViewModel.itemPictures[__${rowStat.index}__].id}">
                                    <div class="control-group">
                                        <div class="controls">
                                            <button th:id="'btndel:'+${itemGalleryViewModel.itemPictures[__${rowStat.index}__].id}" class="btn btn-lg btn-danger btn-block">Delete picture</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br/>
                    </th:block>

                </div>

                <hr class="hr-2"/>
            </main>

            <div class="text-center mt-3">
                <h4 class="text-info text-center"><a th:href="@{/seller/items/edit(id=${itemId})}">Back to Item</a></h4>
                <h4 class="text-info text-center"><a th:href="@{/home}">Go to Home Page</a></h4>
            </div> 
            <hr class="hr-2"/>
            <th:block th:replace="fragments/footer-block"></th:block>
            <th:block th:replace="fragments/scripts-block"></th:block>
            <th:block th:replace="fragments/scripts-ajax-block"></th:block>
            <script th:inline="javascript">
                $('#inputFile').on('change', function () {
                    //get the file name
                    var fileName = $(this).val();
                    //replace the "Choose a file" label
                    $(this).next('.custom-file-label').html(fileName);
                });
                editPictures();
                
                function editPictures() {

                    (() => {
                        $('.btn-danger').on('click', deletePicture);
                        $('.btn-warning').on('click', updatePicture);

                        $(".prevent-default-form").submit(function (event) {
                            event.preventDefault();
                        });
                    })();


                    function deletePicture(event) {
                        let btn = $(event.target);
                        let itemPictureid = btn.attr('id').split("btndel:")[1];
                        let formId = "formdel" + itemPictureid;
                        let formElm = $("#" + formId);
                        let url = formElm.attr("action");

                        function successFunc() {
                            $(formElm).parent().parent().remove();
                            showInfo();
                        }

                        function errorFunc() {
                            handleError();
                        }

                        requester.remove(url, successFunc, errorFunc);
                    }

                    function updatePicture(event) {
                        let btn = $(event.target);
                        let itemPictureid = btn.attr('id').split("btnput:")[1];
                        let formId = "formput" + itemPictureid;
                        let formElm = $("#" + formId);
                        let url = formElm.attr("action");
                        let newDescription = $($(formElm).children("textarea")).val();
                        let obj = {"description": newDescription};

                        function successFunc() {
                            $($(formElm).children("textarea")).val(newDescription);
                            showInfo();
                        }

                        function errorFunc() {
                            showError();
                        }

                        requester.update(url, successFunc, errorFunc, obj);
                    }
                }
            </script>
        </div>
    </body>
</html>
