<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"/>
<th:block th:fragment="scripts-admin-block">
    <!-- Core plugin JavaScript-->
    <script type="text/javascript" th:src="@{/js/admin/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script type="text/javascript" th:src="@{/js/admin/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/dataTables.bootstrap4.min.js}"></script>

    <!-- Demo scripts for this page-->
</th:block>