<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"/>
<th:block th:fragment="scripts-auctionGalleryEdit-block">

    <!-- Page level plugin JavaScript-->
    <script type="text/javascript" th:src="@{/js/ajax/requester.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax/notification.js}"></script>
    <script type="text/javascript" th:src="@{/js/editAuctionGallery/editAuctionGallerySolution.js}"></script>

    <!-- Demo scripts for this page-->
</th:block>