<!DOCTYPE html>
<!--
Atia & Tiger Technology 2019.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <th:block th:replace="fragments/head-block"></th:block>
        <th:block th:replace="fragments/head-admin-block"></th:block>
    </head>

    <body id="page-top">
        <th:block th:replace="fragments/navbar-block"></th:block>


        <div id="wrapper">
            
            <div id="content-wrapper">
                
                <div class="container-fluid">
                    <hr class="hr-2 w-50"/>
                    <div class = "container-fluid my-heading-container rounded mx-auto w-50">
                        <h1 th:text="${#session.getAttribute('userFullName')+'''s auctions'}" />
                    </div>
                    <hr class="hr-2 w-50"/>
                    <!-- DataTables Example -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Auctions
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Auction picture</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Start Date</th>
                                            <th>Expired Date</th>
                                            <th>Asking Price BGN</th>
                                            <th>Best Bid amount</th>
                                            <th>Auction Winner</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                            <th>Edit/Archive</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Auction picture</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Start Date</th>
                                            <th>Expired Date</th>
                                            <th>Asking Price BGN</th>
                                            <th>Best Bid amount</th>
                                            <th>Auction Winner</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                            <th>Edit/Archive</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <th:block th:each="auction : ${auctionsList}">
                                    <tr>
                                        <td class="w-25"><img th:if="${auction.thumbnail} !=null" class="img-thumbnail" th:src="@{${auction.thumbnail.getPicturePath()}}" alt=""/></td>
                                        <td th:text="${auction.title}">Auction name</td>
                                        <td th:text="${auction.description}">Auction description</td>
                                        <td th:text="${#dates.format(auction.dateStarted, 'dd/MM/yyyy-HH:mm')}">Start Date</td>
                                        <td th:text="${#dates.format(auction.dateExpired, 'dd/MM/yyyy-HH:mm')}">Expired Date</td>
                                        <td th:text="${auction.initialPrice} == null ? 'No initial price' : ${auction.initialPrice}">Initial Auction Price</td>
                                        <td th:text="${auction.bestBidAmount}">Best Bid amount</td>
                                        <td th:text="${auction.status} == 'SELLED'  ? ${auction.auctionWinnerName}: ''">Auction Winner</td>
                                        <td th:text="${auction.status}">Status</td>
                                        <td><a class="btn btn-primary" th:href="@{/seller/auctions/details(id=${auction.id})}">Details</a></td>
                                        <td>
                                            <a class="btn btn-warning" th:if="${auction.isAuctionEditable} == true" th:href="@{/seller/auctions/edit(id=${auction.id})}">Edit</a>
                                            <a class="btn btn-secondary" th:if="${auction.isArchivable} == true" th:href="@{/archive/archive(id=${auction.id})}">Archive</a>
                                        </td>
                                        <td><a class="btn btn-danger" th:if="${auction.isAuctionDeletable} == true" th:href="@{/seller/auctions/delete(id=${auction.id})}">Delete</a></td>
                                    </tr>
                                </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <h4 class="text-info text-center"><a th:href="@{/seller/auctions/create}">Create new Auction</a></h4>
                        <h4 class="text-info text-center"><a th:href="@{/home}">Go to Home Page</a></h4>
                    </div> 
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- Bootstrap core JavaScript-->
        <th:block th:replace="fragments/footer-block"></th:block>
        <th:block th:replace="fragments/scripts-block"></th:block>
        <th:block th:replace="fragments/scripts-admin-block"></th:block>
        <script>
            $(document).ready(function () {
                $('#dataTable').DataTable();
            });
        </script>
    </body>
</html>

