<!DOCTYPE html>
<!--
Atia & Tiger Technology 2019.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <th:block th:replace="fragments/head-block"></th:block>
        <th:block th:replace="fragments/head-admin-block"></th:block>
    </head>

    <body id="page-top">
        <th:block th:replace="fragments/navbar-block"></th:block>


        <div id="wrapper">
            
            <div id="content-wrapper">
                
                <div class="container-fluid">
                    <hr class="hr-2 w-50"/>
                    <div class = "container-fluid my-heading-container rounded mx-auto w-50">
                        <h1>Admin View - All Items</h1>
                    </div>
                    <hr class="hr-2 w-50"/>
                    <!-- DataTables Example -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Items
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Item picture</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Asking Price BGN</th>
                                            <th>Date Added</th>
                                            <th>Location</th>
                                            <th>Created by</th>
                                            <th>Details</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Item picture</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Asking Price BGN</th>
                                            <th>Date Added</th>
                                            <th>Location</th>
                                            <th>Created by</th>
                                            <th>Details</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <th:block th:each="item : ${itemsList}">
                                            <tr>
                                                <td class="w-25"><img th:if="${item.thumbnail} !=null" class="img-thumbnail" th:src="@{${item.thumbnail.getPicturePath()}}" alt=""/></td>
                                                <td th:text="${item.name}"/>
                                                <td th:text="${item.quantity}"/>
                                                <td th:text="${item.initialPrice} == null ? 'No initial price' : ${item.initialPrice}"/>
                                                <td th:text="${#dates.format(item.dateAdded, 'dd/MM/yyyy-HH:mm')}"/>
                                                <td th:text="${item.location}"/>
                                                <td th:text="${item.sellerName}"/>
                                                <td><a class="btn btn-primary" th:href="@{/admin/items/details(id=${item.id})}">Details</a></td>
                                                <td><a class="btn btn-warning" th:href="@{/admin/items/edit(id=${item.id})}">Edit</a></td>
                                                <td><a class="btn btn-danger" th:href="@{/admin/items/delete(id=${item.id})}">Delete</a></td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <h4 class="text-info text-center"><a th:href="@{/home}">Go to Home Page</a></h4>
                    </div> 
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- Bootstrap core JavaScript-->
        <th:block th:replace="fragments/footer-block"></th:block>
        <th:block th:replace="fragments/scripts-block"></th:block>
        <th:block th:replace="fragments/scripts-admin-block"></th:block>
        <script>
            $(document).ready(function () {
                $('#dataTable').DataTable();
            });
        </script>
    </body>
</html>
